<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cjk.dao.UserMapper">
	<select id="selectByPrimaryKey" resultType="com.cjk.bean.User">
		SELECT
		id Id,
		user_name userName,
		password,
		age
		from user_t
	</select>
</mapper>